@{
    List<Room> roomList = ViewBag.RoomList;
    Dictionary<int, int> joinedPlayers = ViewBag.JoinedPlayers;
}

<h1>
    Lista Camere:
</h1>

<div>
    @if(roomList != null){
        @foreach(var room in roomList){
            <div>
                Nume camera: @room.Name
            </div>
            <div>
                Nume gazda: @room.Player.Username
            </div>
            <div>
                Numar jucatori: @(joinedPlayers.ContainsKey(room.Id) ? joinedPlayers[room.Id] + 1 : 1) / @room.Game.MaxPlayers
            </div>
            <div>
                Nume Joc: @room.Game.Title
            </div>
            <div>
                Descriere camera: @room.Game.Description
            </div>
            <a class="btn-dark btn" asp-action="CurrentRoom" asp-controller="Room" asp-route-id="@room.Id">
                View Details
            </a>
        }
    }
    else 
    {
        <div>
            No rooms available.
        </div>
    }
</div>

