@using TrackMyScore.Services
@model TrackMyScore.Models.UserGamesModel;
@{
    ViewData["Title"] = "Profile";
    int loggedUser = (int) ViewData["loggedUserId"];
    var profileUser = Model.User;
    var customGames = Model.CustomGames;
}
@inject FollowerService followerService;
@inject UserService userService;

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/profile.css" />
<script src="~/js/site.js"></script>

<body>
    <div class="container">
        <div class="profile-header">
            <!-- <img src="" alt="Profile Picture"> -->
            <div class="d-flex justify-content-between align-items-center">
                <span class="fs-4">@Model.User.Username</span>
                <div class="ms-3 mt-2">
                    @if (loggedUser != 0 && loggedUser != Model.User.Id)
                    {
                        @if (await followerService.IsFollowing(loggedUser, Model.User.Id))
                        {
                            <form class="follow-btn" asp-controller="Follower" asp-action="Unfollow" asp-route-followingId="@Model.User.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-dark">Unfollow</button>
                            </form>
                        }
                        else
                        {
                            <form class="follow-btn" asp-controller="Follower" asp-action="Follow" asp-route-followingId="@Model.User.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-dark">Follow</button>
                            </form>
                        }
                    }
                </div> 
            </div>    
        </div>
        <div class="d-flex justify-content-start">
            <div class="follow-section mb-2 me-3 d-flex align-items-center">
                <a class="btn text-dark fw-bold p-0" href="#" data-bs-toggle="modal" data-bs-target="#followersModal">
                    @await followerService.GetNumberFollowers(Model.User.Id) Followers
                </a>
            </div>
            <div class="follow-section mb-2 me-3 d-flex align-items-center">
                <a class="btn text-dark fw-bold p-0" href="#" data-bs-toggle="modal" data-bs-target="#followingModal">
                    @await followerService.GetNumberFollowing(Model.User.Id) Following
                </a>
            </div>
        </div>

        <ul class="nav nav-tabs mt-3" id="profileTabs">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stats-tab" data-bs-toggle="tab" href="#stats">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="added-games-tab" data-bs-toggle="tab" href="#addedGames">Custom games</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="info">
                <h3>Player Info</h3>
                <p>Player since: @Model.User.AccountCreationDate</p>
                <p>Respect points: @Model.User.RespectPoints</p>
                

            </div>

            <div class="tab-pane fade" id="history">
                <h3>Match History</h3>
                <p>istoric</p>
            </div>

            <div class="tab-pane fade" id="stats">
                <h3>Statistics</h3>
                <p>statistici</p>
            </div>

            <div class="tab-pane fade" id="addedGames">
                <h3>Custom added games by @Model.User.Username </h3>
                <div>
                    @if (Model.CustomGames.Any())
                    {
                        @foreach (var game in Model.CustomGames.Where(g => g.IsOfficial || !g.IsOfficial))
                        {
                            <tr class="games-list">
                                <td>@game.Title</td>
                                <td>@game.Description</td>
                                <td>@game.MaxPlayers</td>
                                <td>@game.Difficulty</td>
                                <td>
                                    @if (await userService.IsGameFavorite(game.Id))
                                    {
                                        <a asp-controller="Games" asp-action="ToggleFavorite" asp-route-id="@game.Id">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Games" asp-action="ToggleFavorite" asp-route-id="@game.Id">
                                            <i class="heart-icons fa-solid fa-heart"></i>
                                        </a>
                                    }
                                    <button class="btn btn-dark">
                                        Details
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No games found.</td>
                        </tr>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                    <button type="button" class="btn-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <ul>
                        @foreach (var follower in await followerService.GetFollowers(Model.User.Id))
                        {
                            <li class="d-flex justify-content-between align-items-center follower-item">
                                <span>@follower.Username</span>
                                <a href="@Url.Action("Profile", "Account", new { id = follower.Id })" class="btn btn-dark btn-sm text-end">View Profile</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="followersModalLabel">Following</h5>
                    <button type="button" class="btn-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <ul>
                        @foreach (var follower in await followerService.GetFollowing(Model.User.Id))
                        {
                            <li class="d-flex justify-content-between align-items-center follower-item">
                                <span>@follower.Username</span>
                                <a href="@Url.Action("Profile", "Account", new { id = follower.Id })" class="btn btn-dark btn-sm text-end">View Profile</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
