@using TrackMyScore.Services
@{
}
@model List<Game>
@{
    ViewData["Title"] = "Lista Jocurilor";
}
@inject UserService userService

<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/gameslist.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- font-awesome link -->

<style>
    .heart{
        color: #000000;
    }
        .heart:hover{
            color: #A9A9A9;
            cursor: pointer;
        }
</style>

<div>
    <h2>Official Games</h2>
    <a class="btn btn-dark" asp-action="AddGame" asp-controller="Games">Add Games</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Maximum Players</th>
            <th>Difficulty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var game in Model.Where(g => g.IsOfficial))
            {
                <tr class="games-list">
                    <td>@game.Title</td>
                    <td>@game.Description</td>
                    <td>@game.MaxPlayers</td>
                    <td>@game.Difficulty</td>
                    <td>
                        <a onclick="toggleFavorite(@game.Id, this)">
                            @if (!await userService.IsGameFavorite(@game.Id))
                            {
                                <i class="fa-solid fa-heart heart"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-heart heart"></i>
                            }
                        </a>
                        <a class="btn btn-dark" asp-action="Details" asp-controller="Games" asp-route-id="@game.Id">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No games found.</td>
            </tr>
        }
    </tbody>
</table>
