@model TournamentModel

<div>
    <h1>@Model.Tournament.Name</h1>
    <p>@Model.Tournament.Reward</p>
    <p>@Model.Tournament.StartDate</p>
    <p>@Model.Tournament.RoomCount</p>
    <p>@Model.Tournament.Type</p>
    <p>@Model.Tournament.Winner</p>
</div>