@model RoomListModel

@{
    int playerCount = Model.playerCount;
}

<h1>
    Room List:
</h1>

<div>
    @if(Model.roomList != null && Model.roomList.Any()){
        @foreach(var room in Model.roomList){
            <div>
                Room Name: @room.Name
            </div>
            <div>
                Host Name: @room.Player.Username
            </div>
            <div>
                Number of players: @(Model.joinedPlayers.ContainsKey(room) ? Model.joinedPlayers[room].Count : 0) / @room.Game.MaxPlayers
            </div>
            <div>
                Game Name: @room.Game.Title
            </div>
            <div>
                Room Description: @room.Game.Description
            </div>
            @if (room.Stage == -1)
            {
                <div>
                    Waiting for the host to start the game.
                </div>
            }
            else if (room.Stage == -2)
            {
                <div>
                    Match already ended.
                </div>
            }
            else if (room.Stage == 0)
            {
                <div>
                    There is an ongoing match.
                </div>
            }       
            <a class="btn-dark btn" asp-action="CurrentRoom" asp-controller="Room" asp-route-id="@room.Id">
                View Details
            </a>
        }
    }
    else 
    {
        <div>
            No rooms available.
        </div>
    }
</div>    
<h1>
    Joined or Hosted Rooms:
</h1>
<div>
    @if (Model.joinedRooms != null && Model.joinedRooms.Any())
    {
        @foreach (var joinedRoom in Model.joinedRooms)
        {
            @if(joinedRoom.Room.Stage != -2){
                <div>
                    Room Name: @joinedRoom.Room.Name
                </div>
                <div>
                    Host Name: @joinedRoom.Room.Player.Username
                </div>
                <div>
                    Number of players: @(Model.joinedPlayers.ContainsKey(joinedRoom.Room) ? Model.joinedPlayers[joinedRoom.Room].Count : 0) / @joinedRoom.Room.Game.MaxPlayers
                </div>
                <div>
                    Game Name: @joinedRoom.Room.Game.Title
                </div>
                <div>
                    Room Description: @joinedRoom.Room.Game.Description
                </div>
                @if (joinedRoom.Room.Stage == -1)
                {
                    <div>
                        Waiting for the host to start the game.
                    </div>
                }
                else if (joinedRoom.Room.Stage == -2)
                {
                    <div>
                        Match already ended.
                    </div>
                }
                else if (joinedRoom.Room.Stage == 0)
                {
                    <div>
                        There is an ongoing match.
                    </div>
                }
                <a class="btn-dark btn" asp-action="CurrentRoom" asp-controller="Room" asp-route-id="@joinedRoom.Room.Id">
                    View Details
                </a>
            }
        }
    }
    else
    {
        <div>
            No rooms joined.
        </div>
    }
</div>

