@using TrackMyScore.Services
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject UserService userService;
@model Game
@{
    string email = Context.Session.GetString("email");
}
<script src="~/js/site.js"></script>

<div>@Model.Title</div>
@if (!@Model.IsOfficial)
{
    <div>@Model.Author</div>
}
<div>@Model.Description</div>
<div>@Model.Difficulty</div>
<div>@Model.MaxPlayers</div>

<a onclick="toggleFavorite(@Model.Id, this)">
    @if(!await userService.IsGameFavorite(@Model.Id)){
        <i class="fa-solid fa-heart"></i>
    }
    else
    {
        <i class="fa-regular fa-heart"></i>
    }
</a>

@if(userService.IsAdmin(email)){
    <a class="btn btn-dark">Delete</a>
    @if (!Model.IsOfficial)
    {
        <a class="btn btn-dark" onclick="toggleOfficial(@Model.Id, this)">Change to official status</a>
    }
    else
    {
        <a class="btn btn-dark" onclick="toggleOfficial(@Model.Id, this)">Remove official status</a>
    }

}

